:root {
  --primary-main: hsl(271, 0%, 20%);
  --primary-light: hsl(271, 0%, 35%);
  --primary-dark: hsl(271, 100%, 3%);
  --secondary-main: hsl(188, 100%, 50%);
  --secondary-light: hsl(188, 100%, 90%);
  --secondary-dark: hsl(188, 100%, 33%);
  --accent-main: hsl(274, 75%, 51%);
  --accent-light: hsl(274, 100%, 70%);
  --accent-md-light: hsl(274, 100%, 63%);
  --accent-dark: hsl(274, 100%, 38%);
  --accent-extra-dark: hsl(274, 100%, 29%);
  --area-box-increment: 16.5ch;
  --list-box-increment: 6ch;
  --list-box-width: calc(var(--list-box-increment) * 3.5);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Rubik";
  color: "#fff";
}
body ::-webkit-scrollbar {
  width: 1.2ch;
}
body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: var(--secondary-light);
}
body ::-webkit-scrollbar-thumb {
  background: var(--accent-main);
  border-radius: 10px;
}
body ::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dark);
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Indie Flower";
}
body .app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .app-container .my-button .add-text {
  padding-right: 3px;
}
body .app-container .creator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
body .app-container .creator-container.inside {
  margin-top: 1ch;
  width: 100%;
}
body .app-container .creator-container .title-div {
  position: absolute;
  color: var(--secondary-light);
  font-size: larger;
  top: -4ch;
}
body .app-container .creator-container .area-div {
  padding-top: 1.7ch;
}
body .app-container .creator-container .area-div.creator .left-side, body .app-container .creator-container .area-div.creator .middle, body .app-container .creator-container .area-div.creator .right-side {
  height: 100%;
}
body .app-container .creator-container .area-div.creator .left-side, body .app-container .creator-container .area-div.creator .right-side {
  width: 40%;
}
body .app-container .creator-container .area-div.creator .middle {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: flex-start;
  height: 32ch;
  margin-top: 3.91ch;
}
body .app-container .creator-container .area-div.creator .middle .my-button {
  margin: 0.5ch 0;
  width: 14.5ch;
  height: 4.75ch;
  font-family: "Rubik";
  font-size: 1.5ch;
  text-transform: capitalize;
  background: var(--accent-dark);
  border-radius: 10px;
}
body .app-container .creator-container .area-div.inside {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 1.2ch;
}
body .app-container .creator-container .area-div.inside.left {
  justify-content: right;
}
body .app-container .creator-container .area-div.inside.right {
  justify-content: left;
}
body .app-container .creator-container .area-div.inside .title-div.inside {
  text-align: left;
  text-align: left;
  position: absolute;
  width: var(--list-box-width);
  padding: 0;
  top: -2.4ch;
  font-weight: bold;
  font-size: 2ch;
  z-index: 10;
  height: 2ch;
}
body .app-container .creator-container .area-div.inside .title-div.inside.left {
  right: -4ch;
}
body .app-container .creator-container .list-box {
  border: 3px solid var(--secondary-main);
  justify-self: right;
  width: var(--list-box-width);
  height: calc(var(--list-box-increment) * 5);
  background-color: var(--primary-main);
  overflow-y: scroll;
  position: relative;
  z-index: 3;
}
body .app-container .creator-container .list-box .list-item {
  position: relative;
  z-index: 5;
}
body .app-container .creator-container .list-box .list-item.even {
  background: var(--primary-light);
}
body .app-container .creator-container .list-box .list-item.selected {
  background: var(--accent-extra-dark);
}
body .app-container .creator-container .list-box .list-item.selected-even {
  background: var(--accent-md-light);
}
body .app-container .area-box {
  width: calc(5 * var(--area-box-increment));
  height: calc(3.1 * var(--area-box-increment));
  border: 5px solid var(--secondary-main);
  background-color: var(--secondary-dark);
  display: flex;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rajdhani";
  src: url("../../fonts/Rajdhani/Rajdhani-Regular.ttf");
}
@font-face {
  font-family: "Indie Flower";
  src: url("../../fonts/IndieFlower/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Satisfy";
  src: url("../../fonts/Satisfy/Satisfy-Regular.ttf");
}

/*# sourceMappingURL=theme.css.map */
