
@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../../fonts/Rajdhani/Rajdhani-Regular.ttf');
}

body {
  font-family: 'Rubik';
}