:root {
  --primary-main: hsl(271, 0%, 20%);
  --primary-light: hsl(271, 0%, 50%);
  --primary-dark: hsl(271, 100%, 3%);

  --secondary-main: hsl(188, 100%, 50%);
  --secondary-light: hsl(188, 100%, 84%);
  --secondary-dark: hsl(188, 100%, 33%);

  --accent-main: hsl(271, 100%, 50%);
  --accent-light: hsl(271, 100%, 67%);
  --accent-dark: hsl(271, 100%, 30%);

  --area-box-increment: 20ch;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Rubik';
  color: '#fff';

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Indie Flower';
  }

  .app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .creator-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      .title-div {
        position: absolute;
        color: var(--secondary-light);
        font-size: larger;
        top: -2.45ch;
      }

      .area-div {
        padding-top: 3.5ch;
      }


    }

    .area-box {
      width: calc(4 * var(--area-box-increment));
      height: calc(2.5 * var(--area-box-increment));
      border: 5px solid var(--secondary-main);
      background-color: var(--secondary-dark);
    }


  }
}


@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  src: url('../../fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
  font-family: 'Indie Flower';
  src: url('../../fonts/IndieFlower/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'Satisfy';
  src: url('../../fonts/Satisfy/Satisfy-Regular.ttf');
}